/**
* This file will store all custom css code written by me
*/

/* Tamanho mínimo de largura dos botões padrão */
.btn-width-min {
    min-width: 25%;
}

/* Bordas da tabela de distribuição de frequências - Cabeçalho e Rodapé */
.bordas-estatistica {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}


/** 
* # Bug Fix
* 
* See: 
*   https://github.com/seiyria/bootstrap-slider/issues/689
*   https://stackoverflow.com/questions/52027988/tooltip-does-not-show-with-bootstrap-slider
*/
.tooltip.in {
    opacity: 1;
}


/* Para teste */
.destacar {
    background-color: gray;
    border: 1px solid black;
}